Logs/
Library/
Build/
Temp/
node_modules/

Assets/\[tinyfun\]

obj/
*.csproj
*.sln

Assets/res/
Assets/res.meta
Assets/csharp/gen/
Assets/csharp/gen.meta
Assets/StreamingAssets/scripts/
Assets/StreamingAssets/scripts.meta

yarn.lock
