Logs/
Library/
Build/
Temp/
node_modules/


Assets/Plugins/**/*/*puerts.dll
Assets/Plugins/**/*/*puerts.so
Assets/Plugins/**/*/*puerts.a
Assets/Plugins/**/*/*puerts.bundle
Assets/Plugins/**/*/*wee8.a

obj/
*.csproj
*.sln

Assets/res/
Assets/res.meta
Assets/csharp/gen/
Assets/csharp/gen.meta
Assets/StreamingAssets/scripts/
Assets/StreamingAssets/scripts.meta

UI/obj/
