Logs/
Library/
Build/
Temp/
node_modules/

Assets/\[tinyfun\]

obj/
*.csproj
*.sln

Assets/res/
Assets/res.meta

Assets/Scripts/gen/
Assets/Scripts/gen.meta
Assets/Scripts/Resources/scripts/*.mjs
Assets/Scripts/Resources/scripts/*.mjs.meta
Assets/Scripts/Resources/scripts/*.js
Assets/Scripts/Resources/scripts/*.js.meta
Assets/Scripts/Resources/scripts/version.json
Assets/Scripts/Resources/scripts/version.json.meta

Packages/packages-lock.json
ProjectSettings/
UserSettings/

*.mjs.map
*.mjs.map.meta

yarn.lock
